# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
# 这里我改了image-gallery.css（改为图片不缩放并居中）和image-gallery.js（翻页的时候滚动条重置）搜'hikaru'
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# server
server/__pycache__
server/static
server/templates
server/.python-version
*.pyc
.python-version
/public