/*@import './awesome.css'*/
/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*/


/* growing anim */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.sep {
  border: 0;
  /*width: 3em;*/
  height: 1px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.mast {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  /*height: 100vh; hikaru*/
  height: 10vh;
  /*color: #fff;*/
  float: left;
  /*background-color: #111;*/
}
.mast:after {
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: rgba(17, 17, 17, 0.9);*/
}
.mast > header {
  z-index: 2;
  position: relative;
  margin: auto; /*hikaru*/
}
.mast__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100vh;hikaru*/
  height: 10vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: 50%;
}
.mast__header {
  /*padding: 5%; hikaru*/
}
.mast__title {
  font-family: "Cutive Mono", monospace;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2em;
  text-transform: uppercase;
}
.mast__title span {
  -webkit-animation: letter-glow 0.7s 0s ease both;
          animation: letter-glow 0.7s 0s ease both;
  /*-webkit-animation-iteration-count: 10;*/
}
.mast__title span:nth-child(1) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.mast__title span:nth-child(2) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}
.mast__title span:nth-child(3) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.mast__title span:nth-child(4) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.mast__title span:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.mast__title span:nth-child(6) {
  -webkit-animation-delay: 1.63s;
          animation-delay: 1.63s;
}
.mast__title span:nth-child(7) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
/*next */
.mast__title span:nth-child(8) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.mast__title span:nth-child(9) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.mast__title span:nth-child(10) {
  -webkit-animation-delay: 2.65s;
          animation-delay: 2.65s;
}
.mast__title span:nth-child(11) {
  -webkit-animation-delay: 2.85s;
          animation-delay: 2.85s;
}

.mast__text {
  font-family: "Cutive Mono", monospace;
  font-size: 1.3em;
  margin: 0 0 0.5em;
  line-height: 1.5;
  white-space: pre;
  letter-spacing: 2rem
}
.mast__text span {
  -webkit-animation: letter-glow 0.7s 0s ease both;
          animation: letter-glow 0.7s 0s ease both;
}
.mast__text span:nth-child(1) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.mast__text span:nth-child(2) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}
.mast__text span:nth-child(3) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.mast__text span:nth-child(4) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.mast__text span:nth-child(5) {
  -webkit-animation-delay: 1.45s;
          animation-delay: 1.45s;
}
.mast__text span:nth-child(6) {
  -webkit-animation-delay: 1.50s;
          animation-delay: 1.50s;
}
.mast__text span:nth-child(7) {
  -webkit-animation-delay: 1.55s;
          animation-delay: 1.55s;
}

/*next*/
.mast__text span:nth-child(8) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.mast__text span:nth-child(9) {
  -webkit-animation-delay: 2.45s;
          animation-delay: 2.45s;
}
.mast__text span:nth-child(10) {
  -webkit-animation-delay: 2.55s;
          animation-delay: 2.55s;
}
.mast__text span:nth-child(11) {
  -webkit-animation-delay: 2.62s;
          animation-delay: 2.62s;
}
.mast__text span:nth-child(12) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.mast__text span:nth-child(13) {
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}
.mast__text span:nth-child(14) {
  -webkit-animation-delay: 2.87s;
          animation-delay: 2.87s;
}
.mast__text span:nth-child(15) {
  -webkit-animation-delay: 2.95s;
          animation-delay: 2.95s;
}


@-webkit-keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

/* anim*/
/*流水效果*/
/*body,html{margin:0;padding:0;height:100%;}
body{
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
*/
/*原来height用的auto是符合文字大小的高度*/
svg{font-weight:bold;max-width:30rem;height:10vh;}

/* anim*/

